.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    color: var(--cor-branco);
    border-radius: var(--borda);
}

.pokebola-img {
    background-image: url(../img/180px-Símbolo_Pokémon_\(Melee\).png);
    width: auto;    
    background-repeat: no-repeat;
    background-size: 70%;  
    background-position: left;  
}

.pokemon-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon-details img{
    max-width: 100%;
    height: var(--size-img);
    display: flex;
}

.pokemon-name{
    font-weight: 700;
    margin-bottom: .188rem;
    text-transform: capitalize;
}

.pokemon-number {
    color: var(--cor-preto);
    opacity: .4;
    text-align: right;
    font-size: var(--font-tipo);
}

.pokemon-types {
    list-style: none;
    padding: 0;    
    margin: 0;
}

.pokemon-type {
    margin: 0 .5rem .5rem 0;
    padding: .2rem .6rem .2rem .6rem;
    border-radius: var(--borda);
    text-align: center;
    font-size: var(--font-tipo);
    color: var(--cor-branco);
    width: auto;
    filter: brightness(1.1);
    text-transform: capitalize;
}

.normal{
    background-color: #bebe9a;
}

.grass{
    background-color: #46d1b1;
}

.fire{
    background-color: #fa6c6c;
}

.water{
    background-color: #77befe;
}

.flying{
    background-color: #91b1fe;
}

.bug{
    background-color: #91ba30;
}

.poison{
    background-color: #b080d0;
}

.electric{
    background-color: #fed86e;
}

.ground{
    background-color: #b4a272;
}

.fighting{
    background-color: #d08a88;
}

.psychic{
    background-color: #c296be;
}

.rock{
    background-color: #958450;
}

.ice{
    background-color: #66d1e5;
}

.ghost{
    background-color: #978ba9;
}

.dragon{
    background-color: #8b56fe;
}

.dark{
    background-color: #2b3249;
}

.steel{
    background-color: #7b8e8a;
}

.fairy{
    background-color: #f87ea7;
}